<footer class="footer">
  <div class="footer-div container">
    <div class="footer-thumb-pic">
      <img
        srcset="
          ./img/footer/banana-girl1x-335w.jpg 335w,
          ./img/footer/banana-girl1x-349w.jpg 349w,
          ./img/footer/banana-girl2x-670w.jpg 670w,
          ./img/footer/banana-girl2x-698w.jpg 698w
        "
        sizes="(min-width: 1280px) 349px, (min-width: 768px) 349px, (min-width: 375px) 335px, 100vw"
        src="./img/footer/banana-girl1x-335w.jpg"
        alt="Girl with banana"
        loading="lazy"
      />
    </div>

    <a class="site-logo" href="index.html">fresh harvest box</a>

    <div class="footer-nav-list">
      <ul class="footer-list">
        <li><a class="footer-link" href="#howitworks">How It Works</a></li>
        <li><a class="footer-link" href="#fruits">Fruits</a></li>
        <li><a class="footer-link" href="#contacts">Contacts</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <ul class="footer-icon-list">
        <li class="footer-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link-icon"
            aria-label="Open facebook"
          >
            <svg class="footer-icon-pic" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link-icon"
            aria-label="Open instagram"
          >
            <svg class="footer-icon-pic" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link-icon"
            aria-label="Open youtube"
          >
            <svg class="footer-icon-pic" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>

      <address class="address">
        <ul class="">
          <li>
            <a class="address-phone" href="tel:+380684439426"
              >+380 (68) 443-94-26
            </a>
          </li>
          <li class="location-flex">
            <a
              class="address-location"
              href="https://goo.gl/maps/KuhU1CSR2gmE5KHi6"
              target="_blank"
              rel="noreferrer noopener"
              >1678 S. Pioneer Road Salt Lake City UT 84104
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
