<section class="fruits-section for-scroll" id="fruits">
  <div class="container">
    <h2 class="fruits-section-header">ORGANIC FRUITS</h2>
    <p class="fruits-header-content">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="card-set">
      <li class="card-1 card">
        <h3 class="title">Strawberry</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/strawberries@1x.webp 1x,
                  ./img/fruits/strawberries@2x.webp 2x
                "
                src="./img/fruits/strawberries@1x.webp"
                alt="strawberries"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">100 UAH / kg</span>
      </li>
      <li class="card-2 card">
        <h3 class="title">Banana</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/banana@1x.webp 1x,
                  ./img/fruits/banana@2x.webp 2x
                "
                src="./img/fruits/banana@1x.webp"
                alt="banana"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">80 UAH / kg</span>
      </li>
      <li class="card-3 card">
        <h3 class="title">Watermelon</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/watermelon@1x.webp 1x,
                  ./img/fruits/watermelon@2x.webp 2x
                "
                src="./img/fruits/watermelon@1x.webp"
                alt="watermelon"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">40 UAH / kg</span>
      </li>
      <li class="card-4 card">
        <h3 class="title">Lime</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/lime@1x.webp 1x,
                  ./img/fruits/lime@2x.webp 2x
                "
                src="./img/fruits/lime@1x.webp"
                alt="lime"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">60 UAH / kg</span>
      </li>
      <li class="card-5 card">
        <h3 class="title">Apple</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/apple@1x.webp 1x,
                  ./img/fruits/apple@2x.webp 2x
                "
                src="./img/fruits/apple@1x.webp"
                alt="apple"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">50 UAH / kg</span>
      </li>
      <li class="card-6 card">
        <h3 class="title">Peach</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/peach@1x.webp 1x,
                  ./img/fruits/peach@2x.webp 2x
                "
                src="./img/fruits/peach@1x.webp"
                alt="peach"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">80 UAH / kg</span>
      </li>
      <li class="card-7 card">
        <h3 class="title">Plums</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/plum@1x.webp 1x,
                  ./img/fruits/plum@2x.webp 2x
                "
                src="./img/fruits/plum@1x.webp"
                alt="plum"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">40 UAH / kg</span>
      </li>
      <li class="card-8 card">
        <h3 class="title">Orange</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/orange@1x.webp 1x,
                  ./img/fruits/orange@2x.webp 2x
                "
                src="./img/fruits/orange@1x.webp"
                alt="orange"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">60 UAH / kg</span>
      </li>
      <li class="card-9 card">
        <h3 class="title">Kiwi</h3>
        <p class="content">Plant</p>
        <div class="image-wrapper">
          <div class="flip-card">
            <div class="flip-card-front">
              <img
                srcset="
                  ./img/fruits/kiwi@1x.webp 1x,
                  ./img/fruits/kiwi@2x.webp 2x
                "
                src="./img/fruits/kiwi@1x.webp"
                alt="kiwi"
              />
            </div>
            <div class="flip-card-back">
              <p class="back-text content">
                Exquisite Ukrainian strawberries captivate with their vibrant
                red hue, luscious juiciness, and a burst of sweet flavor.
              </p>
            </div>
          </div>
        </div>
        <span class="price">90 UAH / kg</span>
      </li>
    </ul>
    <!-- КНОПКА ДЛЯ МОДАЛЬНОГО ВІКНА -->
    <!-- НЕ ВИДАЛЯЙ!!!!! -->
    <button name="order-btn" type="button" class="order-button" id="order-open">
      <svg class="icon-arrow" width="14" height="14">
        <use href="/order-img/order-sprite.svg#icon-arrow"></use>
      </svg>
      <span class="order-btn-txt">ORDER</span>
    </button>
  </div>
</section>
