<!-- section HIRO -->
<section class="hero">
  <div class="container cont-hero">
    <h1 class="hero-text-h1">
      fresh harvest box<br />is your 0ne-stop place for a delicious fruit basket
    </h1>
    <form action="#fruits">
      <button name="shop-now" type="submit" class="hero-button">
        shop now
      </button>
    </form>
    <ul class="sorting">
      <li class="first-group list">
        <p class="hero-text">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <div class="fruit-first-card">
          <h2 class="fruit-header-first">Fruit</h2>
          <img
            srcset="./img/watermalone@1x.webp 1x, ./img/watermalone@2x.webp 2x"
            src="./img/watermalone@1x.webp"
            alt="watermelon"
            width="239"
            height="172"
          />
          <p class="fruit-text">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </li>
      <li class="second-group list">
        <ul class="hero-list list">
          <li class="hero-list-item border-first">
            <h3 class="hero-list-item-h">&#35;organic</h3>
          </li>
          <li class="hero-list-item border-second">
            <h3 class="hero-list-item-h">&#35;products</h3>
          </li>
          <li class="hero-list-item border-third">
            <h3 class="hero-list-item-h">&#35;basket</h3>
          </li>
          <li class="hero-list-item border-four">
            <h3 class="hero-list-item-h">&#35;fruits</h3>
          </li>
        </ul>
        <div class="fruit-second-card">
          <h2 class="fruit-header-second">Fruit</h2>
          <img
            srcset="./img/basket@1x.webp 1x, ./img/basket@2x.webp 2x"
            src="./img/basket@1x.webp"
            alt="watermelon"
            width="239"
            height="187"
          />
          <p class="fruit-text">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
