<section class="how-it-works">
  <div class="container">
    <!--Заголовок-->
    <h2 class="section-title-how-it-works for-scroll" id="howitworks">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <!--параграф тексту з описом секції-->
    <p class="section-description-how-it-works">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <!--список карток-->

    <ul class="steps-to-order">
      <li class="steps-to-order-item">
        <h3 class="first steps">First Step</h3>
        <p class="steps-text">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="steps-to-order-item">
        <h3 class="second steps">Second Step</h3>
        <p class="steps-text">Click on the basket and fill out the form.</p>
      </li>
      <li class="steps-to-order-item">
        <h3 class="third steps">Third Step</h3>
        <p class="steps-text">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
    <!--Гіф-зображення-->
    <div class="how-it-works-gif">
      <img src="./img/fruits-gif.gif" alt="fruits-gif" width="860" />
    </div>
  </div>
</section>
