<div class="menu-container" id="mobile-menu">
  <!-- Main mobile menu navigations on other on another part of the page -->
  <nav class="mobile-lower-nav">
    <!-- Go to the main sections  -->
    <ul class="mobile-nav-list list">
      <li class="mobile-nav-item">
        <a
          class="mobile-nav-link link link-howitworks"
          href="#howitworks"
          aria-label="How It Works section link"
          >How It Works</a
        >
      </li>
      <li class="mobile-nav-item">
        <a
          class="mobile-nav-link link link-fruits"
          href="#fruits"
          aria-label="Fruits section link"
          >Fruits</a
        >
      </li>
      <li class="mobile-nav-item">
        <a
          class="mobile-nav-link link link-contacts"
          href="#contacts"
          aria-label="Contacts section link"
          >Contacts</a
        >
      </li>
      <li class="mobile-nav-item">
        <!-- Go to the basket (order section now) -->
        <a
          class="basket-nav-link link link-basket"
          href="#fruits"
          aria-label="Basket link"
        >
          <!-- <svg class="mobile-basket-icon" width="24" height="24">
            <use
              href="/img/header-mobile-icons.svg#icon-basket-logo-icon"
            ></use>
          </svg> -->
        </a>
      </li>
    </ul>
  </nav>
</div>
